@font-face {
    font-family: 'Inter';
    src: url('fonts/InterVariable.ttf') format('ttf');
    font-weight: 100 900;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/InterVariable-Italic.ttf') format('ttf');
    font-weight: 100 900;
    font-style: italic;
	font-display: swap;
}

* {
	font-family: 'Inter', sans-serif;
	color: #212529;
    box-sizing: border-box;
    transition: all 0.3;
}

body {
	margin: 0px;
    max-width: 100vw;
    background: none;
    transition: all 0.5s;
}

body.change-color {
    background: #09090a;
}

p, h1, h2, h3 {
	margin: 0px;
}

p {
    margin-bottom: 1.5em;
}

a {
	text-decoration: none;
	color: inherit;
    box-sizing: border-box; 
}

h2.small {
    font-weight: 500;
    font-size: 2em;
    letter-spacing: -0.0125em;
}

h2.small > span {
    color: #21252925;
}

.page-wrapper {
	max-width: 1920px;
    overflow: auto;
	margin: auto;
	padding: 0em 0.5em;
    margin-bottom: 0.5em;
}

.container {
    width: 100%;
    box-sizing: border-box;
    padding-left: 2em;
    padding-right: 2em;
}


.wide-container {
    width: 100%;
}

.wide-container .inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: auto 3em;
}

.p-sec-top {
    padding-top: 6em;
}

.p-sec-bottom {
    padding-bottom: 2em;
}

/* LOGO CUSTOM */

.logo {
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: -0.0125em;
}

/* BUTTON CSS */

a[class^='button'] {
	cursor: pointer;
}

.button-primary {
    display: flex;
    width: fit-content;
	background: #FB6543;
	color: #ffffff;
	padding: 0.5em;
	border-radius: 5px;
	transition: all 0.3s;
}

.button-primary:hover {
	background: #212529;
	color: #ffffff;
}

.button-primary i {
    margin: auto;
    margin-left: 0.5em;
}

.button-seconday {
    display: flex;
    width: fit-content;
    border: 1px solid #212529;
    padding: 1em 0.5em;
    border-radius: 5px;
    transition: all 0.3s;
}

.button-seconday:hover {
    background: #212529;
    color: #ffffff;
}

.button-tertiary {
    display: flex;
    width: fit-content;
    border: 1px solid #212529;
    background: #212529;
    color: #ffffff;
    padding: 0.7em 1.2em;
    font-size: 0.95em;
    border-radius: 25px;
    transition: all 0.3s;
}

.button-tertiary:hover {
	background: #ffffff;
	color: #212529;
}

/* HEADER CSS */

.navbar {
    width: 100%;
    box-sizing: border-box;
    position: fixed;
	display: flex;
	align-items: center;
    padding: 1em;
    z-index: 99;
}

.navbar .logo {
    padding: 0.25em 0.4em;
    border-radius: 5px;
    background: #ffffff50;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    transition: all 0.3s;
}

.navbar.change-color .logo {
    color: #ffffff;
    background: #21252950;
}

.navbar .header-nav {
	margin: auto;
	padding: 0px;
	display: flex;
	gap: 5px;
}

.navbar .header-nav .nav-item {
	list-style-type: none;
	padding: 0.5em 0em;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.navbar .header-nav .nav-item a {
	background: #B6B6B625;
	padding: 0.5em 0.5em;
	border-radius: 5px;
	transition: all 0.3s;
}

.navbar.change-color .header-nav .nav-item a {
    color: #ffffff;
}

.navbar .header-nav .nav-item a:hover {
	background: #212529;
	color: #ffffff;
}

/* FOOTER */

.main-foot {
    background: #ffffff05;
    margin-top: 5em;
    border-radius: 10px 10px 0px 0px;
}

.main-foot p {
    font-size: 0.9em;
    color: #ffffff50;
    text-align: center;
    margin: 0px;
}

/* HERO SECTION */

.hero-section {
    display: flex;
    margin-top: 0.5em;
}

.hero-image {
	background-image: url("images/hero-img.jpg");
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 30em;
    border-radius: 10px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50em;
    margin: auto auto 2em 2em;
}

.hero-content p {
    line-height: 1.5em;
}

/* FRONTPAGE g-3 */

.frontpage-g3 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-column-gap: 0.5em;
}

.frontpage-col-3 .col3-images{
    display: flex;
    aspect-ratio: 2 / 2.5;
    position: relative;
    overflow: hidden;
}

.frontpage-col-3 .vis-wrap {
    width: 100%;
    border-radius: 10px;
    overflow: hidden
}

.frontpage-g3 .img-wrapper {
    width: 100%;
    height: 100%;
}

.frontpage-g3 .img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.frontpage-g3 .row2 .col3-images {
    flex-direction: column;
    gap: 0.5em;
}

.frontpage-g3 .row2 .vis-wrap {
    height: 50%;
}

.col3-text .text {
    margin-top: 2em;
    padding-right: 0.5em;
}

.col3-text h3 {
    font-weight: 400;
    font-size: 1.75em;
    letter-spacing: -0.0125em;
}

.col3-text .text .sub {
    font-size: 0.9em;
    margin-top: 1em;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    color: #FB6543;
}

.col3-text .text p:not(.sub) {
    font-size: 0.9em;
    line-height: 1.75em;
    color: #21252975;
}

.col3-text a {
    margin-top: 2.5em;
}

/* Static-BG Block */

.static-background {
    background-image: url("images/bg-img1.jpg");
    background-attachment: fixed;
	background-size: cover;
	height: 33em;
	border-radius: 10px;
}

.static-background h3 {
    line-height: 1.15em;
    letter-spacing: -0.0125em;
}

#static-bg h2,
#static-bg h2 span{
	transition: all 0.3s;
}

body.change-color #static-bg h2 {
	color: #ffffff;
}

body.change-color #static-bg h2 span {
	color: #ffffff50;
}

/* hamburger menu */

.hamburger {
	position: fixed;
	right: 0.55em;
	top: 0.45em;
	z-index: 100;
	padding: 0.25em;
	font-size: 1.75em;
	line-height: 0em;
	border: none;
	border-radius: 5px;
    background: #ffffff50;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
	transition: all 0.3s;
}

.navbar.change-color .hamburger {
	color: #ffffff;
    background: #21252950;
}

.hamburger, .closeIcon {
	display: none;
}

@media only screen and (max-width: 768px) {
	.menu {
		position: fixed;
		transform: translateX(12em);
		top: 4.5em;
		right: 1em;
		transition: transform 0.5s;
		flex-direction: column;
		align-items: flex-end;
	}
	.navbar .header-nav .nav-item {
		width: fit-content;
	}
	.hamburger {
		display: block;
	}
	.contact-btn {
		display: none;
	}
	.showMenu {
  		transform: translateY(0);
	}
}

@media only screen and (max-width: 768px) {
	.container {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	.hero-content {
		margin: auto 1em 1em;
	}
	.wide-container .inner-container {
		margin: auto 1em;
	}
	.frontpage-g3 {
		grid-template-columns: auto;
		grid-row-gap: 3em;
	}
	
	.frontpage-col-3 .col3-images {
		aspect-ratio: 4 / 3;
	}
	
	.frontpage-g3 .row2 .col3-images {
		flex-direction: row;
	}
	
	.frontpage-g3 .row2 .vis-wrap {
		height: 100%;
	}
}
